<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleLogin.css">
    <title>Register</title>
</head>
<body>
    <header>
        <a href="index.html" style="text-decoration: none; color: black;">
            ClickFix & Custom Lab
        </a>
        <div class="button-container">
        <button class="login" onclick="location.href='registerAdmin.html'">login Admin</button>
        <button class="login" onclick="location.href='register.html'">Login</button>
    </header>

    <div class="container">
        <h2>สมัครเป็น Admin<br>ClickFix & Custom Lab</h2>
        <form action="submit_register.php" method="POST">
            <label for="username">username:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">สมัครเป็น Admin</button>
        </form>
        <p>มีบัญชีอยู่แล้ว? <a href="login.html">เข้าสู่ระบบ</a></p>
    </div>
</body>
</html>


